<h1>Búsqueda de prendas</h1>

<form action="/resultados" method="get">

    Prenda: <input type="text" name="clothe">

    <br><br>

    Talla: <input type="text" name="size">

    <br><br>

    Temporada: <input type="text" name="season">

    <br><br>

    <input type="submit" value="Buscar prendas">
</form>